<div class="main">

  <app-header></app-header>

  <div class="form-login">

    <div class="form-group">
      <img src="../../../assets/images/undraw_mobile_pay_re_sjb8 (2).svg" alt="">
      <div class="linha-vertical"></div>
    </div>

    <form action="">
      <h1>Abra sua conta no Banco PAN</h1>
       
          <!-- <p-inputMask type="text" pInputText  mask="999.999.999-99"  name="cpf" placeholder="Digite o CPF" >
          </p-inputMask> -->

      <div class="input-group">
        <input type="text" placeholder="Nome completo" class="input" required>
        <span class="border-bottom"></span>
      </div>
      <div class="input-group">
        <input type="date" placeholder="Data Nascimento" class="input" required>
        <span class="border-bottom"></span>
      </div>
      <div class="input-group">
        <input type="text" placeholder="E-mail" class="input" required>
        <span class="border-bottom"></span>
      </div>
      <div class="input-group">
        <input type="text" placeholder="Telefone" class="input" required>
        <span class="border-bottom"></span>
      </div>
      <div class="input-group">
        <input type="text" placeholder="CPF" class="input" required>
        <span class="border-bottom"></span>
      </div>

      <input type="submit" value="Enviar" class="input-submit ">

    </form>
  </div>

  <!-- Footer nao ta aparecendo em -400px  -->

  <footer>
    <h2 class="footer-content">Copyright &#174; 2022 All rights reserved </h2>
    <h2 class="footer-content">The Interns</h2>
  </footer>

</div>
