<div class="main">
    <header>
        <img src="../../../assets/images/logos/1563334472wpdm_banco-pan-logo.svg" alt="">
    </header>
    <div class="form-login">
        <img src="../../../assets/images/undraw_mobile_pay_re_sjb8 (2).svg" alt="">
        <div class="linha-vertical"></div>

        <form action="">
            <h1>Abra sua conta no Banco PAN</h1>
            <div class="input-group">
                <input type="text" placeholder="CPF" class="input" required>
                <span class="border-bottom"></span>
            </div>
            <div class="input-group">
                <input type="text" placeholder="Nome completo" class="input" required>
                <span class="border-bottom"></span>
            </div>
            <div class="input-group">
                <input type="text" placeholder="Telefone" class="input" required>
                <span class="border-bottom"></span>
            </div>
            <div class="input-group">
                <input type="text" placeholder="E-mail" class="input" required>
                <span class="border-bottom"></span>
            </div>
        </form>
    </div>
    <footer>
        <h1>Direitos reservado @The Interns</h1>
     </footer>
</div>
