<div class="main">
  <app-header></app-header>


  <div class="banner" id="topo">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h2>Um cartão
            todinho
            pra você!</h2>

          <a [routerLink]="['/abrir-conta']"><button>Experimente</button> </a>
        </div>

      </div>
    </div>
  </div>


  <div class="possibilities" id="funcionalidades">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>Conta Grátis e
            100% digital</h2>
          <p>Uma conta todinha pensada pra você comandar a sua vida financeira pelo celular.</p>
        </div>
      </div>
      <div class="items">
        <div class="row">
          <div class="col-md-6">
            <div class="item">
              <h4>titulo</h4>
              <span class="detail"></span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, praesentium!
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="item">
              <h4>titulo</h4>
              <span class="detail"></span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, in.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="advantages">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
                      <h3>Entenda as vantagens</h3>
                    </th>
                    <th>
                      <h5>WhatsApp Business</h5>
                    </th>
                    <th>
                      <h5>Mutant Whats</h5>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><b>Automatização</b> de algumas <br> mensagens, como de ausência de atendentes</td>
                    <td><img src="../../../assets/new-home/checkmark-circle.svg" alt=""></td>
                    <td><img src="../../../assets/new-home/checkmark-circle.svg" alt=""></td>
                  </tr>
                  <tr>
                    <td><b>Inclusão de informações da <br> empresa</b> no perfil, como o site</td>
                    <td><img src="../../../assets/new-home/checkmark-circle.svg" alt=""></td>
                    <td><img src="../../../assets/new-home/checkmark-circle.svg" alt=""></td>
                  </tr>
                  <tr>
                    <td><b>Mais de 04 atendentes</b> em uma mesma <br> conta ao mesmo tempo</td>
                    <td><img src="../../../assets/new-home/close-circle.svg" alt=""></td>
                    <td><img src="../../../assets/new-home/checkmark-circle.svg" alt=""></td>
                  </tr>
                  <tr>
                    <td><b>Atendimento no computador e celular</b></td>
                    <td><img src="../../../assets/new-home/close-circle.svg" alt=""></td>
                    <td><img src="../../../assets/new-home/checkmark-circle.svg" alt=""></td>
                  </tr>
                  <tr>
                    <td>Integração <b>de chatbot</b></td>
                    <td><img src="../../../assets/new-home/close-circle.svg" alt=""></td>
                    <td><img src="../../../assets/new-home/checkmark-circle.svg" alt=""></td>
                  </tr>
                  <tr>
                    <td>Acompanhamento online, das conversas pelo gestor, e <br> indicadores de atendimento (quantidade de
                      conversas <br> ativas, filas , tempo médio de atendimento e muito mais.).</td>
                    <td><img src="../../../assets/new-home/close-circle.svg" alt=""></td>
                    <td><img src="../../../assets/new-home/checkmark-circle.svg" alt=""></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <a href="#planos"> <button>Quero
              ter meu Número Oficial</button></a> 
          </div>
        </div>
      </div>
    </div> -->
  <div class="implementation">
    <div class="container-fluid">
      <div class="row row-column-reverse-mobile">
        <div class="col-md-5">

        </div>
        <div class="col-md-7">
          <h2>Serviços Banco PAN</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="info-about">
    <div class="container-fluid">
      <div class="row">
        <div class="firt-card col-md-3">
          <div class="card">
            <h2>Financiamento de Veículos</h2>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <h2>Empréstimo FGTS</h2>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <h2>Cartão de crédito</h2>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <h2>Empréstimo consignado</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="video">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2>Quer saber mais? <span>Assista o vídeo.</span></h2>
            <p>Entenda as vantagens de ter um <b>Número Oficial</b> com o <b>Mutant Whats</b></p>
            <video id="video" controls>
              <source src="../../../assets/MUTANTWHATS.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <span class="detail"></span>
          </div>
        </div>
      </div>
    </div> -->

  <div class="about-bot-builder">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>Titulo aqui <span>Banco Pan</span></h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus illum culpa nihil odio consequatur quam.
          </p>
        </div>
      </div>
    </div>
    <div class="background">
      <div class="pages">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img style="margin-top: 32px" src="../../../assets/images/undraw_pay_online_re_aqe6.svg" alt=""
                class="img-fluid">
            </div>
            <div class="col-md-6">
              <p> <span>Maquininha Turbo PAN</span><br><br>

                Receba o dinheiro das vendas em 1 dia útil direto na sua conta digital PAN.</p>
            </div>
          </div>
          <div class="row row-column-reverse-mobile">
            <div class="col-md-6">
              <p> <span>Open Finance</span><br><br>

                Tá precisando de um crédito melhor no mercado? Com o Open Finance suas chances podem melhorar!</p>
            </div>
            <div class="col-md-6">
              <img src="../../../assets/images/undraw_mobile_pay_re_sjb8 (1).svg" alt="" class="img-fluid">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <img src="../../../assets/images/undraw_shopping_app_flsj.svg" alt="" class="img-fluid">
            </div>
            <div class="col-md-6">
              <p> <span>Loja PAN no APP</span><br><br>

                O site da loja não está mais no ar, mas ela mudou pro nosso app com uma nova experiência! Vem dar uma
                olhada!
                Todo saldo de cashback será depositado na sua Conta PAN conforme o regulamento, sem precisar solicitar
                resgate. Se tiver dúvidas, fale com a gente ou acesse o regulamento.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="plans" id="planos">
    <div class="container">
      <div class="row">
        <div class="col center">
          <h2><span>Quer</span> conhecer <br> <span>mais </span>sobre a nossa <span>proposta?!</span></h2>
          <p>Faça o <span>download</span> do documento <span>completo</span> com a nossa prosta <span>mais
              detalhada!</span></p>
          <a href="../../../assets/files/propostatheinterns.pdf"><button>Download</button></a>
        </div>
      </div>
    </div>
  </div>


  <div class="video">
    <iframe width="100%" height="515" src="https://www.youtube.com/embed/UUx04SMIB94" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>


  <footer>
    <h1>Direitos reservado @The Interns</h1>
  </footer>
</div>
