<div class="main">
    <app-header></app-header>
    <div class="form-login" *ngIf="step === 1">
        <img src="../../../assets/images/undraw_secure_login_pdn4.svg" alt="">
        <div class="linha-vertical"></div>

        <form action="">
            <h1>Entre na sua conta e PAN</h1>
            <div class="input-group">
                <input type="text" placeholder="CPF" class="input" required>
                <span class="border-bottom"></span>
            </div>
            <div class="input-group">
                <input type="text" placeholder="Senha" class="input" required>
                <span class="border-bottom"></span>
            </div>

            <input type="button" (click)="step = 2" value="Entrar">
            
        </form>

    </div>

    <div class="form-login" *ngIf="step===2">
        <img style="margin-left: 70px; margin-bottom: 64px;" src="../../../assets/images/undraw_fill_form_re_cwyf.svg" alt="">
        <div class="linha-vertical"></div>

        <form action="">
            <h1>Atualize seus dados!</h1>
            <div class="input-group">
                <input type="text" placeholder="CPF" class="input" required>
                <span class="border-bottom"></span>
            </div>
            <div class="input-group">
                <input type="text" placeholder="Nome completo" class="input" required>
                <span class="border-bottom"></span>
            </div>
            <div class="input-group">
                <input type="text" placeholder="Telefone" class="input" required>
                <span class="border-bottom"></span>
            </div>
            <div class="input-group">
                <input type="text" placeholder="E-mail" class="input" required>
                <span class="border-bottom"></span>
            </div>

            <input type="button" (click)="step = 3" value="Próximo">
        </form>

    </div>

    <div class="form-login" *ngIf="step === 3">
        <img style="margin-bottom: 11rem; margin-left: 6rem;" src="../../../assets/images/undraw_resume_re_hkth.svg" alt="">
        <div class="linha-vertical"></div>

        <form action="">
            <h1>Atualize seus dados!</h1>
            <div class="input-group">
                <input type="date" placeholder="Data de nascimento" class="input" required>
                <span class="border-bottom"></span>
            </div>
            <div class="input-group">
                <input type="text" placeholder="CEP" class="input" required>
                <span class="border-bottom"></span>
            </div>
            <div class="input-group">
                <input type="text" placeholder="Endereço" class="input" required>
                <span class="border-bottom"></span>
            </div>
            <div class="input-group">
                <input type="text" placeholder="Número" class="input" required>
                <span class="border-bottom"></span>
            </div>

            <input type="button" (click)="step = 4" value="Concluir">
        </form>
    </div>

    <div class="form-login" *ngIf="step === 4">
        <img style="margin-bottom: 11rem; margin-left: 6rem;" src="../../../assets/images/undraw_order_confirmed_re_g0if (1).svg" alt="">
        <div class="linha-vertical"></div>

        <div class="success-update">
            <h1>Dados atualizados com sucesso!</h1>
            <button>Ir para Área do Cliente</button>
        </div>
    </div>

    <footer>
        <h2 class="footer-content">Copyright &#174; 2022 All rights reserved </h2>
        <h2 class="footer-content">The Interns</h2>
    </footer>
</div>

